<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirect ke folder public
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>